dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.DS_Store
.DS_Store
.DS_Store
06-sum-square-difference/06-sum-square-difference
07-10001st-prime/07-10001st-prime
08-largest-product-in-a-series/08-largest-product-in-a-series
09-special-pythagorean-triplet/09-special-pythagorean-triplet
10-summation-of-primes/10-summation-of-primes
11-largest-product-in-a-grid/11-largest-product-in-a-grid
03-Largest-prime-factor/largest-prime-factor
03-Largest-prime-factor/largest-prime-factor
03-Largest-prime-factor/largest-prime-factor
12-highly-divisible-triangular-number/12-highly-divisible-triangular-number
13-large-sum/13-large-sum
